name: Push Windows Image to ECR
on:
  workflow_dispatch:
jobs:
  build-and-push:
    runs-on: windows-2022
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - name: Build and Push
        shell: powershell
        run: |
          $ECR_REGISTRY = "${{ steps.login-ecr.outputs.registry }}"
          docker build -t $ECR_REGISTRY/entra-connector-test:latest .
          docker push $ECR_REGISTRY/entra-connector-test:latest
